  <form action="/login" method="post">
    <div class="input-field col s12 l6">
      <input type="text" id="first_name" name="username" class="validate">
      <label for="first_name">Email</label>
    </div>
    <div class="input-field col s12 l6">
      <input type="password" id="last_name" name="password" class="validate">
      <label for="last_name">password</label>
    </div>
    <button class="btn waves-effect waves-light" type="submit" >Submit
        <i class="material-icons right">send</i>
    </button>
  </form>