<div class="container">
    <div class="row">
        <div class="col sl6 m4">
           <form action="/register" method="post">
            <h2 class="dark">form registeration</h2>
      <div class="input-field col s12 l6">
        <input type="text" id="first_name" name="FirstName" class="validate">
        <label for="first_name">First Name</label>
      </div>
      <div class="input-field col s12 l6">
        <input type="text" id="last_name" name="LastName" class="validate">
        <label for="last_name"> last Name</label>
      </div>
      <div class="input-field col s12">
        <input type="email" id="email" name="Email" class="validate">
        <label for="email" data-error="wrong" data-success="right">Email</label>
      </div>
      <div class="input-field col s12">
        <input type="password" id="password" name="password" class="validate">
        <label for="email" data-error="wrong" data-success="right">Password</label>
      </div>

<button class="btn  waves-effect waves-light" type="submit" >Submit
    
   </button>


    </form>
        </div>
        <div class="col sl6 m4"></div>
    </div>
 </div>